body {
    background-color: hsl(212, 45%, 89%)
}

.container {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 15px;
    max-width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Outfit', sans-serif; /* applying font to headings */
    font-size: 16px;
    text-align: center;
    margin: 10px;
    
}
h5 { 
    font-family: 'Outfit', sans-serif; 
    font-size: 11px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 10px;

}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


.qr-code {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}
